[CLI]
disable_caching = False
background_color = "#ffffff"
background_opacity = 1.0
fullscreen = True
progress_bar = display
fps = 25
pixel_width = 640
pixel_height = 480
#quality = high_quality
#fps = 60
#pixel_width = 1280
#pixel_height = 720
### render quick

